<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/api [NC]
RewriteRule ^(.*)$ /helpers/api.php [L]
RewriteBase /
RewriteCond %{REQUEST_URI} ^/zoom [NC]
RewriteRule ^(.*)$ /helpers/webhooks/zoom.php [L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule>
