@import "~@core/scss/base/components/variables-dark";

.portf-bold {
  font-weight: bold;
}
.portf-sub-header-bg {
  background-color: $theme-dark-table-active-bg;
}
.portf-uppercase {
  text-transform: uppercase;
}
.portf-table-header {
  font-size: 12px;
  padding: 8px 16px;
}
.portf-table-row {
  font-size: 15px;
  padding: 16px;
}
.color-white {
  color: white
}
.color-cyan {
  color: #ADFFFA
}
.font-14 {
  font-size: 14px !important;
}
.header-shadow-btm {
  box-shadow: 0px 2px 4px 0px #00000040 inset;
}
.border-bottom-dm {
  border-bottom: 1px solid $theme-dark-input-placeholder-color;
}
.row-header-bg {
  background-color: $theme-dark-table-active-bg;
}
.border-sub-hd {
  border-top: 1px solid $theme-dark-table-bg;
}
.border-btm-lgt {
  border-bottom: 1px solid $theme-dark-table-bg;
}
.portf-demand-view {
  overflow-x: auto;
  background-color: $theme-dark-table-bg;
  width: 100%;
  .portf-row {
    display: flex;
    &.inner-sdw {
      box-shadow: 0px 2px 4px 0px #00000040 inset;
    }
    .part1 {
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .part2 {
      display: flex;
      width: 65%;
      .data-child {
        text-align: end;
      }
    }
    .part3 {
      display: flex;
      justify-content: end;
      width: 15%;
      .data-child {
        width: 30%;
      }
    }
  }
}