@import '~@core/scss/base/components/variables-dark';

.card-portfolio {
  min-height: calc(100vh - 3.35rem);
  .card-body {
    padding: 0;
    .tabs {
      ul {
        padding: 0 16px;
        margin: 0;
        li {
          &.nav-item {
            a {
              color: #fff !important;
              opacity: 0.6;
              padding: 25px 14px;
              &.active {
                opacity: 1;
              }
              &::after {
                background: $theme-dark-navigation-li-icon-color !important;
              }
            }
          }
        }
        .actions {
          button {
            background-color: transparent !important;
            border-radius: 6px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            svg {
              margin-right: 10px;
            }
            &.edit {
              background-color: rgba(240, 103, 235, 0.2) !important;
              border: 2px solid #F067EB !important;
            }
            &.load {
              opacity: 0.3;
              border: 1px solid $theme-dark-navigation-li-icon-color !important;
            }
          }
        }
      }
      .tab-content {
        border-top: 1px solid $theme-dark-tabs-border-color;
        border-bottom: 1px solid $theme-dark-tabs-border-color;
        table {
          thead {
            tr {
              th {
                background-color: transparent !important;
                opacity: 0.5;
                padding-top: 8px;
                padding-bottom: 8px;
              }
            }
          }
          tbody {
            tr {
              background: $theme-dark-table-active-bg;
              box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
              &.b-table-details {
                background: $theme-dark-card-bg;
                td {
                  padding: 0;
                }
              }
              &.table-success {
                background: transparent;
                td {
                  color: $theme-dark-table-success-text;
                }
              }
              td {
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                text-transform: capitalize;
                padding-top: 16px;
                padding-bottom: 16px;
                .detail {
                  cursor: pointer;
                }
                .row-detail {
                  padding: 16px;
                  .row-detail--name {
                    flex: 1;
                    span {
                      padding-left: 48px;
                    }
                  }
                  .row-detail--form {
                    flex: 2.2;
                    display: flex;
                    justify-content: space-between;
                    .v-select, .form-control {
                      width: 152px;
                      .vs__dropdown-toggle {
                        background: $theme-dark-input-bg;
                        border: none;
                      }
                    }
                    .form-control {
                      border-radius: 4px;
                      border: none;
                      padding: 4px 8px;
                      color: rgba(255, 255, 255, 0.8);
                    }
                  }
                }
              }
            }
          }
        }
        .report {
          display: flex;
          min-height: calc(100vh - 175px);
          .reporting-side {
            width: 314px;
            .report-block--head {
              &:first-child {
                margin-top: 40px;
              }
              display: flex;
              align-items: center;
              background: $theme-dark-table-active-bg;
              box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
              padding: 28px 16px;
              color: #fff;
              font-weight: 700;
              font-size: 15px;
              line-height: 24px;
            }
          }
          .reporting-content {
            background: $theme-dark-modal-header-bg;
            flex: 1;
          }
        }
      }
    }
  }
  .card-footer {
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    position: relative;
    height: 55px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      position: absolute;
      width: 56px;
      height: 56px;
      right: 30px;
      bottom: 10px;

      box-shadow: 0px 4px 18px -4px rgba(115, 103, 240, 0.65);
      border-radius: 28px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}