<<<<<<< HEAD
@import '~@core/scss/base/pages/page-pricing.scss';
.pricing-card {
  .annual-plan {
    .plan-price {
      sup {
        left: 0;
      }
      sub {
        right: 0;
      }
    }
  }
}
=======
@import '~@core/scss/base/pages/page-pricing.scss';
.pricing-card {
  .annual-plan {
    .plan-price {
      sup {
        left: 0;
      }
      sub {
        right: 0;
      }
    }
  }
}
>>>>>>> aa85b2205c988043e6b68b5c6fbf1f71671e5d90
